/*-----------------------------------*\
  || General Preset ||
\*-----------------------------------*/
*, *::before, *::after {
  margin:  0 !important;
  padding: 0 !important;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

/* :root {} */

body {
  overflow-x: hidden;

}

/* 
::-webkit-scrollbar {width: 8px;}
::-webkit-scrollbar-track { background-color: black;}
::-webkit-scrollbar-thumb {background-color: white;}
*/

input, button {
  background: none; 
  border: none; 
  font: inherit;
  cursor: pointer;
}

/*-----------------------------------*\
        || Top Fixed Navbar ||
\*-----------------------------------*/





/*-----------------------------------*\
        || Section Customs ||
\*-----------------------------------*/





/*-----------------------------------*\
        || Hero Section ||
\*-----------------------------------*/





/*-----------------------------------*\
        || Section ###### ||
\*-----------------------------------*/





/*-----------------------------------*\
        || Section ###### ||
\*-----------------------------------*/





/*-----------------------------------*\
        || Section ###### ||
\*-----------------------------------*/





/*-----------------------------------*\
        || Section ###### ||
\*-----------------------------------*/